{%extends 'base.jinja'%}

{%block title%} Inicio {%endblock%}

{%block content%}
<br><br><br>
<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
    <table class="mx-auto table shadow shadow-green-500">
        <!-- head -->
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th>
                    <button class="btn btn-sm btn-circle btn-success" onclick="addConsole.showModal()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                        </svg>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            {%for console in consoles%}
            <tr>
                <td>{{console.name}}</td>
                <td>
                    {%if console.status == "online"%}
                    <div class="inline-grid *:[grid-area:1/1]">
                        <div class="status status-success animate-ping"></div>
                        <div class="status status-success"></div>
                    </div> Server is up
                    {%else%}
                    <div class="inline-grid *:[grid-area:1/1]">
                        <div class="status status-error animate-ping"></div>
                        <div class="status status-error"></div>
                    </div> Server is down
                    {%endif%}
                </td>
                <td>
                    <button onclick="editConsole.showModal()" class="btn btn-info btn-circle btn-sm font-bold">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg>
                    </button>
                    {%if console.status == "online"%}
                    <button onclick="enterPasswd.showModal()" class="btn btn-info btn-circle btn-sm font-bold">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-terminal" viewBox="0 0 16 16">
                            <path
                                d="M6 9a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3A.5.5 0 0 1 6 9M3.854 4.146a.5.5 0 1 0-.708.708L4.793 6.5 3.146 8.146a.5.5 0 1 0 .708.708l2-2a.5.5 0 0 0 0-.708z" />
                            <path
                                d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1z" />
                        </svg>
                    </button>
                    {%endif%}
                    <a href="{{url_for('console.delete_console', id=console.id)}}" type="button"
                        class="btn btn-error btn-circle btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path
                                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                        </svg>
                    </a>
                    <dialog id="editConsole" class="modal">
                        <div class="modal-box shadow shadow-green-500">
                            <form method="dialog">
                                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                            </form>
                            <h3 class="font-bold text-lg">Agregar Nueva Consola</h3>
                            <hr />
                            <form action="{{url_for('console.add_console')}}" method="post">
                                <br>
                                <div>
                                    <label for="name-input" class="font-bold"><strong>Nombre</strong></label><br>
                                    <input type="text" name="name" id="name-input"
                                        class="input w-full input-sm input-success" value="{{console.name}}" required />
                                </div>
                                <br>
                                <div class="flex flex-wrap -mx-3 mb-2">
                                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <label for="name-input" class="font-bold"><strong>Ip</strong></label><br>
                                        <input type="text" name="ip" id="ip-input"
                                            class="input w-full input-sm input-success" value="{{console.ip}}"
                                            required />
                                    </div>
                                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                        <label for="port-input" class="font-bold"><strong>Puerto</strong></label><br>
                                        <input type="number" name="port" id="port-input"
                                            class="input w-full input-sm input-success" value="{{console.port}}"
                                            required />
                                    </div>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-block btn-success font-bold">Editar</button>
                            </form>
                        </div>
                    </dialog>
                    <dialog id="enterPasswd" class="modal">
                        <div class="modal-box" class="shadow shadow-green-500">
                            <form method="dialog">
                                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                            </form>
                            <h3 class="font-bold text-lg">Agregar Nueva Consola</h3>
                            <hr />
                            <form method="post" action="{{url_for('console.access_console', id=console.id)}}">
                                <br>
                                <div>
                                    <label for="passwdInput" class="font-bold">Contraseña</label><br>
                                    <input type="password" name="passwd" placeholder="Contraseña" id="passwdInput" class="input input-success w-full input-sm" required />
                                </div>
                                <br>
                                <button class="btn btn-block btn-success">Acceder</button>
                            </form>
                        </div>
                    </dialog>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<div class="join shadow shadow-green-500 my-4">
    {%if consoles.has_prev %}
    <a type="button" class="join-item btn">«</a>
    {%endif%}
    <button class="join-item btn">Page {{consoles.page}}</button>
    {%if consoles.has_next%}
    <a type="button" class="join-item btn">»</a>
    {%endif%}
</div>

<dialog id="addConsole" class="modal">
    <div class="modal-box shadow shadow-green-500">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="font-bold text-lg">Agregar Nueva Consola</h3>
        <hr />
        <form action="{{url_for('console.add_console')}}" method="post">
            <br>
            <div>
                <label for="name-input" class="font-bold"><strong>Nombre</strong></label><br>
                <input type="text" name="name" id="name-input" class="input w-full input-sm input-success" required />
            </div>
            <br>
            <div>
                <label for="passwd-input" class="font-bold">Constraseña</label><br>
                <input type="password" name="passwd" id="passwd-input" class="input w-full input-sm input-success"
                    required />
            </div>
            <br>
            <div>
                <label for="passwd-confirm-input" class="font-bold">Confirmar Contraseña</label><br>
                <input type="password" name="passwd2" id="passwd-confirm-input"
                    class="input w-full input-sm input-success" required />
            </div>
            <br>
            <div class="flex flex-wrap -mx-3 mb-2">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label for="name-input" class="font-bold"><strong>Ip</strong></label><br>
                    <input type="text" name="ip" id="ip-input" class="input w-full input-sm input-success" required />
                </div>
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label for="port-input" class="font-bold"><strong>Puerto</strong></label><br>
                    <input type="number" name="port" id="port-input" class="input w-full input-sm input-success"
                        required />
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-block btn-success font-bold">Agregar</button>
        </form>
    </div>
</dialog>
{%endblock%}