{%extends 'base.jinja'%}

{%block title%}Panel{%endblock%}

{%block content%}
<br><br><br><br>
<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 shadow shadow-green-500">
    <table class="table mx-auto">
        <thead>
            <tr>
                <th>
                    <button onclick="new_image_modal.showModal()"
                        class="btn btn-sm btn-success"><strong>Nuevo</strong></button>
                </th>
                <th>
                    {%if filter_text%}
                    <form action="{{url_for('pannel.filtered')}}" method="post">
                        <input type="text" placeholder="Buscar" value="{{filter_text}}" name="text"
                            class="input input-sm input-success" />
                        <button type="submit" class="btn btn-sm btn-success">Buscar</button>
                    </form>
                    {%else%}
                    <form action="{{url_for('pannel.filtered')}}" method="post">
                        <input type="text" placeholder="Buscar" name="text" class="input input-sm input-success" />
                        <button type="submit" class="btn btn-sm btn-success"><strong>Buscar</strong></button>
                    </form>
                    {%endif%}
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {%for image in images%}
            <tr>
                <th>
                    <img width="70" src="/static/uploads/{{image.image}}">
                </th>
                <td>
                    <span>{{image.name}}</span>
                </td>
                <td>
                </td>
                <td>
                    <a
                        href="{{url_for('images.image', filename=image.image)}}">http://{{ip}}:{{port}}/images/{{image.image}}</a>
                </td>
                <td>
                    <a type="button" href="{{url_for('images.delete', id=image.id)}}"
                        class="btn btn-sm btn-error">Borrar</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<br><br>
<div class="join shadow shadow-green-500">
    {%if images.has_prev%}
    <a type="button" href="?page={{images.prev_num}}" class="join-item btn">«</a>
    {%endif%}
    <button class="join-item btn">Page {{images.page}}</button>
    {%if images.has_next%}
    <a type="button" href="?page={{images.next_num}}" class="join-item btn">»</a>
    {%endif%}
</div>

<dialog id="new_image_modal" class="modal">
    <div class="modal-box shadow-lg shadow-green-500">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <form method="post" action="{{url_for('images.upload')}}" enctype="multipart/form-data">
            <div>
                <label for="image_name_input"><strong>Nombre de la Imagen</strong></label><br>
                <input id="image_name_input" type="text" name="image_name" class="input input-sm input-success w-100" />
            </div>
            <br>
            <div>
                <label for="image_input"><strong>Imagen</strong></label>
                <input id="image_input" type="file" name="image" class="file-input file-input-sm file-input-success" />
            </div>
            <br>
            <button class="btn btn-sm btn-success" type="submit"><strong>Subir Imagen</strong></button>
        </form>
    </div>
</dialog>

{%endblock%}