{%extends 'base.jinja'%}

{%block title%} Informes {%endblock%}

{%block content%}

<div class="overflow-x-auto mt-10 rounded-box  border-base-content/5 bg-base-100 mx-auto shadow shadow-green-500">
    <table class="table">
        <thead>
            <tr>
                <th>ID Usuario</th>
                <th>Lugar</th>
                <th>Sanción</th>
                <th>Fecha</th>
                <th>
                    <button class="btn btn-success btn-sm rounded-full" onclick="add_report_modal.showModal()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                        </svg>
                        <span>Añadir</span>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            {%for report in reports%}
            <tr>
                <td>{{report.target_user_id}}</td>
                <td>{{report.target_platform}}</td>
                <td>{{report.action_type}}</td>
                <td>{{report.created_at}}</td>
                <td>
                    <a href="{{url_for('report.report_details', report_id=report.id)}}" class="btn btn-circle btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                            <path
                                d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                        </svg>
                    </a>
                    <a type="button" onclick="edit_report_modal.showModal()" class="btn btn-info btn-circle btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg>
                    </a>
                    <a href="{{url_for('report_url.index', report_id=report.id)}}" class="btn btn-warning btn-circle btn-sm" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-link-45deg" viewBox="0 0 16 16">
                            <path
                                d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z" />
                            <path
                                d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z" />
                        </svg>
                    </a>
                    <a href="{{url_for('report.delete_report', id=report.id)}}" class="btn btn-error btn-circle btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8l-2.647-2.646a.5.5 0 0 1 .708-.708z" />
                        </svg>
                    </a>
                </td>
            </tr>

            <dialog id="edit_report_modal" class="modal">
                <div class="modal-box w-11/12 max-w-5xl shadow shadow-green-500">
                    <form method="dialog">
                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>
                    <form method="post" action="{{url_for('report.edit_report', id=report.id)}}">
                        <h3 class="text-lg font-bold">Editar Informe</h3>
                        <br>
                        <div class="flex flex-row gap-4 w-full">
                            <fieldset class="fieldset bg-base-200 border-base-300 rounded-box flex-1 border p-4">
                                <label class="label">Usuario</label>
                                <input type="text" class="input input-success w-full" name="username"
                                    value="{{report.username}}" />
                                <br>
                                <label class="label">Plataforma</label>
                                <select class="select select-success w-full" name="platform">
                                    {%if report.target_platform == 'discord'%}
                                    <option value="discord" selected>Discord</option>
                                    <option value="minecraft">Minecraft Servers</option>
                                    <option value="pg-alicante">Asociación PanaGaming Alicante</option>
                                    {%endif%}
                                    {%if report.target_platform == 'minecraft'%}
                                    <option value="discord">Discord</option>
                                    <option value="minecraft" selected>Minecraft Servers</option>
                                    <option value="pg-alicante">Asociación PanaGaming Alicante</option>
                                    {%endif%}
                                    {%if report.target_platform == 'pg-alicante'%}
                                    <option value="discord">Discord</option>
                                    <option value="minecraft">Minecraft Servers</option>
                                    <option value="pg-alicante" selected>Asociación PanaGaming Alicante</option>
                                    {%endif%}
                                </select>
                                <br>
                                <label class="label">Id Usuario</label>
                                <input type="text" name="user_id" class="input input-success w-full"
                                    value="{{report.target_user_id}}" />
                            </fieldset>

                            <fieldset class="fieldset bg-base-200 border-base-300 rounded-box flex-1 border p-4">
                                <label class="label">Activado</label>
                                {%if report.is_active%}
                                <input type="checkbox" checked="checked" class="toggle toggle-success" />
                                {%else%}
                                <input type="checkbox" class="toggle toggle-success" />
                                {%endif%}
                                <br>
                                <label class="label">Acción</label>
                                <input type="text" class="input input-success w-full" name="action"
                                    value="{{report.action_type}}" />
                                <br>
                                <label class="label">Tiempo de Expiración</label>
                                <input type="date" name="expires_at" class="input input-success w-full"
                                    value="{{report.expires_at}}" />
                            </fieldset>
                        </div>
                        <br>
                        <div class="fieldset bg-base-200 border-base-300 rounded-box flex-1 border p-4">
                            <label class="label">Razon</label>
                            <textarea class="textarea textarea-success h-80 w-full"
                                name="reason">{{report.reason}}</textarea>
                        </div>
                        <br>
                        <button class="btn btn-block btn-success rounded-full text-bold">Editar Reporte</button>
                    </form>
                </div>
            </dialog>
            {%endfor%}
        </tbody>
    </table>
</div>
<br>
<br>
<div class="join shadow shadow-green-500">
    {%if reports.has_prev%}
    <a type="button" href="?page={{reports.prev_num}}" class="join-item btn">«</a>
    {%endif%}
    <button class="join-item btn">Page {{reports.page}}</button>
    {%if reports.has_next%}
    <a type="button" href="?page={{reports.next_num}}" class="join-item btn">»</a>
    {%endif%}
</div>

<dialog id="add_report_modal" class="modal">
    <div class="modal-box w-11/12 max-w-5xl shadow shadow-green-500">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <form method="post" action="{{url_for('report.create_report')}}">
            <h3 class="text-lg font-bold">Nuevo Informe</h3>
            <br>
            <div class="flex flex-row gap-4 w-full">
                <fieldset class="fieldset bg-base-200 border-base-300 rounded-box flex-1 border p-4">
                    <label class="label" for="username_input">Usuario</label>
                    <input type="text" id="username_input" name="username" class="input input-success w-full" />
                    <br>
                    <label class="label">Plataforma</label>
                    <select class="select select-success w-full" name="platform">
                        <option selected disabled>Plataforma</option>
                        <option value="discord">Discord</option>
                        <option value="minecraft">Minecraft Servers</option>
                        <option value="pg-alicante">Asociación PanaGaming Alicante</option>
                    </select>
                    <br>
                    <label class="label">Id Usuario</label>
                    <input type="text" name="user_id" class="input input-success w-full" />
                </fieldset>

                <fieldset class="fieldset bg-base-200 border-base-300 rounded-box flex-1 border p-4">
                    <label class="label">Activado</label>
                    <input type="checkbox" checked="checked" class="toggle toggle-success" />
                    <br>
                    <label class="label">Acción</label>
                    <input type="text" class="input input-success w-full" name="action" />
                    <br>
                    <label class="label">Tiempo de Expiración</label>
                    <input type="date" name="expires_at" class="input input-success w-full" />
                </fieldset>
            </div>
            <br>
            <div class="fieldset bg-base-200 border-base-300 rounded-box flex-1 border p-4">
                <label class="label">Razon</label>
                <textarea class="textarea textarea-success h-80 w-full" name="reason"></textarea>
            </div>
            <br>
            <button class="btn btn-block btn-success rounded-full text-bold">Crear Reporte</button>
        </form>
    </div>
</dialog>

{%endblock%}