{%extends 'base.jinja'%}

{%block title%} Imágenes {%endblock%}

{%block content%}
<script type="module" src="/static/scripts/server/image_server.js"></script>
<br><br>
<div class="mx-auto overflow-x-auto rounded-box bg-base-100 shadow shadow-green-500">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <button onclick="document.getElementById('add_image_modal').showModal()"
                        class="btn btn-success btn-sm rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                        </svg>
                        <strong>Agregar</strong>
                    </button>
                </th>
                <th>{{count_images}}/5</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {%for image in images%}
            <tr>
                <th>
                    <img width="100" class="rounded" src="/static/uploads/{{image.filename}}"
                        alt="{{ image.name }}" />
                </th>
                <td>
                    {%if protocol == 'http'%}
                    {%if port == False%}
                    <a href="{{url_for('images.image', filename=image.filename)}}"
                        class="link link-success">
                        http://{{host}}{{url_for('images.image', filename=image.filename)}}
                    </a>
                    {%else%}
                    <a href="{{url_for('images.image', filename=image.filename)}}"
                        class="link link-success">
                        http://{{host}}:{{port}}{{url_for('images.image', filename=image.filename)}}
                    </a>
                    {%endif%}
                    {%else%}
                    {%if port == False%}
                    <a href="{{url_for('images.image', filename=image.filename)}}"
                        class="link link-success">
                            https://{{host}}{{url_for('images.image', filename=image.filename)}}
                    </a>
                    {%else%}
                    <a href="{{url_for('images.image', filename=image.filename)}}"
                        class="link link-success">
                            https://{{host}}:{{port}}{{url_for('images.image', filename=image.filename)}}
                    </a>
                    {%endif%}
                    {%endif%}

                </td>
                <td>
                    <form method="post" action="{{url_for('server.delete_image')}}">
                        <input type="hidden" name="id_image" value="{{image.id}}" />
                        <input type="hidden" name="id_server" value="{{image.id_server}}" />
                        <button type="submit" class="btn btn-error btn-circle btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path
                                    d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                            </svg>
                        </button>
                    </form>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <dialog id="add_image_modal" class="modal">
        <div class="modal-box shadow shadow-green-500">
            <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
            </form>
            <form method="post" action="{{url_for('server.add_image')}}" enctype="multipart/form-data">
                <input type="hidden" value="{{id_server}}" name="id_server" />
                <div>
                    <label for="image_name_input"><strong>Nombre</strong></label><br>
                    <input id="image_name_input" type="text" name="name" class="input input-sm input-success w-100" />
                </div>
                <br>
                <div>
                    <label for="image_input"><strong>Imagen</strong></label><br>
                    <input id="image_input" type="file" name="image"
                        class="file-input file-input-sm file-input-success" />
                </div>
                <br>
                <button class="btn btn-sm btn-block btn-success" type="submit"><strong>Subir Imagen</strong></button>
            </form>
        </div>
    </dialog>
</div>
{%endblock%}