<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{%block title%} {%endblock%}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.22/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"
        integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"
        integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        .logo {
            border-radius: 50%;
            width: 50px;
        }

        html {
            background-image: url(/static/img/fondo.png);
        }
    </style>
</head>

<body>
    <header style="
            background-image: url(/static/img/fondoverde.jpg);
            background-position: center;    
        " class="mainmenu navbar p-2 shadow-sm">
        <div class="flex-1">
            <a href="{{url_for('index')}}"><img class="logo" src="/static/img/logo.png" with="20"></a>
        </div>
        {%if session%}
        <div class="flex gap-2">
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img style="background: white;" class="bg-white-500" alt="Tailwind CSS Navbar component"
                            src="/static/img/user.png" />
                    </div>
                </div>
                <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                    <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
                </ul>
            </div>
        </div>
        {%endif%}
    </header>
    <main class="container mx-auto my-4">
        {%with messages = get_flashed_messages(with_categories=true)%}
        {%if messages%}
        <div id="alert-div" class="text-center">
            <br><br>
            {%for category, message in messages%}
            {%if category == 'error'%}
            <div id="error-alert" role="alert" class="alert alert-error alert-soft m-2">
                <span id="alert-message">{{message}}</span>
            </div>
            {%endif%}
            {%if category == "warning"%}
            <div id="warning-alert" role="alert" class="alert alert-warning alert-soft m-2">
                <span id="alert-message">{{message}}</span>
            </div>
            {%endif%}
            {%if category == "success"%}
            <div id="success-alert" role="alert" class="alert alert-success alert-soft m-2">
                <span id="alert-message">{{message}}</span>
            </div>
            {%endif%}
            {%if category == "info"%}
            <div id="info-alert" role="alert" class="alert alert-info alert-soft m-2">
                <span id="alert-message">{{message}}</span>
            </div>
            {%endif%}
            {%endfor%}
        </div>
        {%endif%}
        {%endwith%}
        {%block content%} {%endblock%}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"
            integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"
            integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </main>
</body>

</html>