{%extends 'base.jinja'%}

{%block title%} Categorias {%endblock%}

{%block content%}

<div class="overflow-x-auto rounded-box shadow shadow-green-500 bg-base-100">
    <table class="table">
        <!-- head -->
        <thead>
            <tr>
                <th></th>
                <th>Descripción</th>
                <th>
                    <button class="btn btn-success btn-sm rounded-full font-bold" onclick="add_category_modal.showModal()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                        </svg>
                        <strong>Nuevo</strong>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            {%for category in categories%}
            <tr>
                <td></td>
                <td>{{category.description}}</td>
                <td>
                    <a href="{{url_for('domain_category.delete_category', id=category.id)}}" class="btn btn-error rounded-full btn-sm btn-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash3" viewBox="0 0 16 16">
                            <path
                                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                        </svg>
                    </a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<br>
<div class="join shadow shadow-green-500">
    {%if categories.has_prev%}
    <a type="button" href="?page={{categories.prev_num}}" class="join-item btn">«</a>
    {%endif%}
    <button class="join-item btn">Page {{categories.page}}</button>
    {%if categories.has_next%}
    <a type="button" href="?page={{categories.next_num}}" class="join-item btn">»</a>
    {%endif%}
</div>

<dialog id="add_category_modal" class="modal">
    <div class="modal-box shadow shadow-green-500">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <form method="post" action="{{url_for('domain_category.add_category')}}">
            <label for="desc_input">Descripcion</label><br>
            <input type="text" name="description" class="input input-sm input-success w-full"/>
            <br><br>
            <button type="submit" class="btn btn-success btn-block font-bold">Agregar</button>
        </form>
    </div>
</dialog>

{%endblock%}