{%extends 'base.jinja'%}

{%block title%}Login{%endblock%}

{%block content%}
<br><br><br><br><br>
<div class="mx-auto mt-1 w-full max-w-xs">
    <form class="mx-auto" action="{{url_for('auth.login')}}" method="post">
        <fieldset class="fieldset mx-auto bg-base-200 border-base-300 rounded-box w-xs border p-4">
            <legend class="fieldset-legend">Login</legend>

            <label class="label">Usuario</label>
            <input type="text" name="username" class="input input-success" placeholder="Username" />

            <label class="label">Contraseña</label>
            <input type="password" name="passwd" class="input input-success" placeholder="Password" />

            <button class="btn btn-success mt-4">Iniciar Sesión</button>
        </fieldset>
    </form>
</div>
{%endblock%}