{%extends 'base.jinja'%}

{%block title%} Comienzo {%endblock%}

{%block content%}
<br><br><br><br><br>
<form class="mx-auto" action="{{url_for('auth.start')}}" method="post">
    <fieldset class="fieldset mx-auto bg-base-200 border-base-300 rounded-box w-xs border p-4">
        <legend class="fieldset-legend">Usuario Admin</legend>

        <label class="label">Contraseña</label>
        <input type="password" name="passwd" required class="input input-success" placeholder="Password" />

        <label class="label">Confirmar Contraseña</label>
        <input type="password" name="passwd_confirm" required class="input input-success" placeholder="Password" />

        <button class="btn btn-success mt-4">Crear Admin</button>
    </fieldset>
</form>

{%endblock%}