{%extends 'base.jinja'%}

{%block title%} Inicio {%endblock%}

{%block content%}
<br><br><br><br>
<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
    <table class="table">
        <!-- head -->
        <thead>
            <tr>
                <th><button onclick="new_modal_user.showModal()" type="button"
                        class="btn btn-sm btn-success"><strong>Nuevo</strong></button></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {%for user in users%}
            {%if user.username != 'Administrator'%}
            <tr>
                <td><strong>{{user.username}}</strong></td>
                <td>{{user.role}}</td>
                <td></td>
                <td>
                    <button onclick="modal_change_passwd.showModal()" class="btn btn-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pass" viewBox="0 0 16 16">
                            <path d="M5.5 5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1z" />
                            <path
                                d="M8 2a2 2 0 0 0 2-2h2.5A1.5 1.5 0 0 1 14 1.5v13a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-13A1.5 1.5 0 0 1 3.5 0H6a2 2 0 0 0 2 2m0 1a3 3 0 0 1-2.83-2H3.5a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-13a.5.5 0 0 0-.5-.5h-1.67A3 3 0 0 1 8 3" />
                        </svg>
                    </button>
                    <button onclick="modal_edit_user.showModal()" class="btn btn-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pen" viewBox="0 0 16 16">
                            <path
                                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                        </svg>
                    </button>
                    <a type="button" href="{{url_for('delete_user', id=user.id)}}" class="btn btn-circle btn-error">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash" viewBox="0 0 16 16">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                            <path
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                        </svg>
                    </a>
                </td>
            </tr>
            <dialog id="modal_edit_user" class="modal">
                <div class="modal-box shadow shadow-green-500">
                    <form method="dialog">
                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>
                    <form action="{{url_for('edit_user_permissions', id=user.id)}}" method="post">
                        {%if user.pig%}
                        <label for="skins_pannel_toggle">
                            Acceso al panel de Skins:
                            <input type="checkbox" id="skins_pannel_toggle" name="pig" checked="checked"
                                class="toggle toggle-success" /><br>
                        </label>
                        {%else%}
                        <label for="skins_pannel_toggle">
                            Acceso al panel de Skins:
                            <input type="checkbox" id="skins_pannel_toggle" name="pig" class="toggle toggle-success" /><br>
                        </label>
                        {%endif%}
                        <br>
                        {%if user.mc_console%}
                        <label for="mc_console_toggle">
                            Acceso a la terminal remota del servidor de Minecraft:
                            <input type="checkbox" id="mc_console_toggle" name="mc_console" checked="checked"
                                class="toggle toggle-success" />
                        </label>
                        {%else%}
                        <label for="mc_console_toggle">
                            Acceso a la terminal remota del servidor de Minecraft:
                            <input type="checkbox" id="mc_console_toggle" name="mc_console" class="toggle toggle-success" />
                        </label>
                        {%endif%}
                        <br><br>
                        <button type="submit" class="btn btn-sm btn-success"><strong>Guardar Cambios</strong></button>
                    </form>
                </div>
            </dialog>
            <dialog id="modal_change_passwd" class="modal">
                <div class="modal-box shadow shadow-green-500">
                    <form method="dialog">
                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>
                    <form id="new_password" method="post" action="{{url_for('new_user_password', id=user.id)}}">
                        <h2 class="text-xl text-center"><strong>Nueva Contraseña</strong></h2>
                        <br><br>
                        <div class="mx-auto text-center">
                            <label for="password"><strong>Contraseña</strong></label><br>
                            <input type="password" id="password" name="passwd" placeholder="*************" class="input input-sm input-success" />
                            <br><br>
                            <label for="password_confirm"><strong>Confirmar Contraseña</strong></label><br>
                            <input type="password" name="passwd_confirm" id="password_confirm" placeholder="*************" class="input input-sm input-success" />
                        </div>
                        <br>
                        <div class="text-center">
                            <button class="btn btn-sm btn-success mx-auto"><strong>Nueva Contraseña</strong></button>
                        </div>
                    </form>
                </div>
            </dialog>

            {%else%}
            <tr>
                <td><strong>{{user.username}}</strong></td>
                <td>{{user.role}}</td>
                <td></td>
                <td>
                    <button onclick="modal_change_passwd.showModal()" class="btn btn-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pass" viewBox="0 0 16 16">
                            <path d="M5.5 5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1z" />
                            <path
                                d="M8 2a2 2 0 0 0 2-2h2.5A1.5 1.5 0 0 1 14 1.5v13a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-13A1.5 1.5 0 0 1 3.5 0H6a2 2 0 0 0 2 2m0 1a3 3 0 0 1-2.83-2H3.5a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-13a.5.5 0 0 0-.5-.5h-1.67A3 3 0 0 1 8 3" />
                        </svg>
                    </button>
                </td>
            </tr>
            <dialog id="modal_change_passwd" class="modal">
                <div class="modal-box shadow shadow-green-500">
                    <form method="dialog">
                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>
                    <form id="new_password" method="post" action="{{url_for('new_user_password', id=user.id)}}">
                        <h2 class="text-xl text-center"><strong>Nueva Contraseña</strong></h2>
                        <br><br>
                        <div class="mx-auto text-center">
                            <label for="password"><strong>Contraseña</strong></label><br>
                            <input type="password" id="password" name="passwd" placeholder="*************" class="input input-sm input-success" />
                            <br><br>
                            <label for="password_confirm"><strong>Confirmar Contraseña</strong></label><br>
                            <input type="password" name="passwd_confirm" id="password_confirm" placeholder="*************" class="input input-sm input-success" />
                        </div>
                        <br>
                        <div class="text-center">
                            <button class="btn btn-sm btn-success mx-auto"><strong>Nueva Contraseña</strong></button>
                        </div>
                    </form>
                </div>
            </dialog>
            {%endif%}
            {%endfor%}
        </tbody>
    </table>
</div>
<br><br>
<div class="join shadow shadow-green-500">
    {%if users.has_prev%}
    <a type="button" href="?page={{users.prev_num}}" class="join-item btn">«</a>
    {%endif%}
    <button class="join-item btn">Page {{users.page}}</button>
    {%if users.has_next%}
    <a type="button" href="?page={{users.next_num}}" class="join-item btn">»</a>
    {%endif%}
</div>

<!-- You can open the modal using ID.showModal() method -->
<dialog id="new_modal_user" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <form action="{{url_for('create_user')}}" method="post">
            <div>
                <label for="user_input text-bold"><strong>Nombre de Usuario</strong></label><br>
                <input type="text" id="user_input" name="username" class="input input-sm input-success w-full" />
                <div class="flex w-full">
                    <div class="p-2">
                        <label for="passwd_input"><strong>Contraseña</strong></label>
                        <input type="password" id="passwd_input" name="passwd" class="input input-sm input-success" />
                    </div>
                    <div class="p-2">
                        <label for="passwd_input_confirm"><strong>Confirmar Contraseña</strong></label>
                        <input type="password" id="passwd_input_confirm" name="passwd_confirm"
                            class="input input-sm input-success" />
                    </div>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-wide btn-sm btn-success w-full"><strong>Crear</strong></button>
        </form>
    </div>
</dialog>

{%endblock%}